


<h4> Check out these dangerous trails from around the world:</h4><br><br>

<p>The two are often linked together: spectacular views and dangerous places.
Lots of hiking enthusiasts go to remote locations, rough terrain and overcome major challenges.
To get there sometimes takes a lot of courage to face the dangerous man-made hiking trails.
These trails are not meant for the beginner hiker and definitely not for those for the feint of heart.</p><br><br>

<%= render partial: 'root', locals: {trails: @trails} %>
