


<h4>Submit a new trail:</h4><br><br>

<% if @trail.errors.any? %>
  <div id="error_explanation">
    <h2> Trail Failed </h2>
    <ul>
    <% @trail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {trail: @trail, current_user: current_user} %>
