// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*---- root page content ----*/


.trail-card {
  background-color: #EDEDED;
  box-shadow: 1.5px 2px #A5B4AC;
  border-radius: .2rem;
  padding: 1.8rem;
  margin-bottom: 4%;
}

.card-1 {
  border-bottom: 1px dashed #7D9387;
}

h6 {
  border-bottom: 1px dashed #7D9387;
}
