// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*---- trails content ----*/

#trail-form {
  width: 75%;
  margin: 0 auto 0 auto;
  background-color: #EDEDED;
  padding: 2.5rem;
  box-shadow: 1.5px 2px #A5B4AC;
}

textarea {
  width: 50%;
  height: 100px;
}

textarea#comment_content {
  width: 100%;
}

#name-tag {
  font-size: .9rem;
  border-bottom: 1px dashed #7D9387;
}

#new_comment {
  margin: 1% 0 1% 0;
  padding: 1%;
  border: 1px dashed #7D9387;
}

#comment-p {
  font-size: .9rem;
}

.comment-bttn {
  background-color: #7D9387;
  color: #FFFFFF;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition-duration: 0.15s;
  margin-right: .7%
}

.comment-bttn:hover {
  background-color: #FFFFFF;
  color: black;
  border-color: #7D9387;
  border-width: 1px;
}

.comment-bttn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

#trail-links {
  position: absolute;
  bottom: 19px;
}

.btn.btn-secondary.btn-sm {
  background-color: #6c757d;
  border: 1px solid transparent;
  transition-duration: 0.15s;
}

.btn.btn-secondary.btn-sm:hover {
  background-color: #FFFFFF;
  color: black;
  border-color: #6c757d;
  border-width: 1px;
}

.item1 {
  border-bottom: 1px dashed #7D9387
}

.col-md-4.col-sm-6.col-xs-12-A-1 {
  background-color: #EDEDED;
  margin-left: auto;
  padding: 1.2rem;
}

.col-md-4.col-sm-6.col-xs-12-B-1 {
  background-color: #EDEDED;
  margin-right: auto;
  padding: 1.2rem;
}

.row-flex-1 {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #2c2c2d;
  border-top: 1px solid #2c2c2d;
  padding: .6rem;
}
